.header-container {
  background-color: #1abc9c;
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
  flex: 1;
  padding: 0 4%;
}

.logo span {
  font-size: x-large;
  color: #fff;
  font-weight: 1000;
  cursor: pointer;
  letter-spacing: 2px;
  width: 100%;
}

.links {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-evenly;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 110px;
  }

  .links {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    width: 50%;
    justify-content: space-evenly;
  }
}
